
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Product List
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Filter
                        <div class="btn-group pull-right">
                            <a href="#">
                                <span class="glyphicon glyphicon-floppy-disk" onclick=""></span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="filterBrandList">
                            <div class="form-group">
                                <label>Nama Product</label>
                                @Html.TextBox("JenisPembayaran", "", new { @class = "form-control", style = "width:300px", disabled = "disabled" })
                            </div>
                            <div class="form-group">
                                <label>Size</label>
                                @{
                                    var listsortSize = new List<SelectListItem>();
                                    listsortSize.Add(new SelectListItem
                                    {
                                        Value = "A",
                                        Text = "A"
                                    });
                                    listsortSize.Add(new SelectListItem
                                    {
                                        Value = "B",
                                        Text = "B"
                                    });
                                    listsortSize.Add(new SelectListItem
                                    {
                                        Value = "B",
                                        Text = "B"
                                    });
                                    listsortSize.Add(new SelectListItem
                                    {
                                        Value = "C",
                                        Text = "C"
                                    });
                                }
                                @Html.DropDownList("SortBy", listsortSize, new { @class = "form-control", @onchange = "CallChangefunc(this.value)", style = "width:300px" })
                            </div>
                            <div class="form-group">
                                <label>Color</label>
                                @{
                                    var listsortColor = new List<SelectListItem>();
                                    listsortColor.Add(new SelectListItem
                                    {
                                        Value = "A",
                                        Text = "A"
                                    });
                                    listsortColor.Add(new SelectListItem
                                    {
                                        Value = "B",
                                        Text = "B"
                                    });
                                    listsortColor.Add(new SelectListItem
                                    {
                                        Value = "B",
                                        Text = "B"
                                    });
                                    listsortColor.Add(new SelectListItem
                                    {
                                        Value = "C",
                                        Text = "C"
                                    });
                                }
                                @Html.DropDownList("SortBy", listsortColor, new { @class = "form-control", @onchange = "CallChangefunc(this.value)", style = "width:300px" })
                            </div>

                        </form>
                    </div>
                </div>
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th style="width:50px"></th>
                            <th style="width:50px"></th>
                            <th>Size</th>
                            <th>Color</th>
                            <th>Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < 2; i++)
                        {
                            <tr class="odd gradeX">
                                <td>
                                    <input type="button" name="name" value="Edit" class="btn btn-primary btn-sm" onclick=")" />
                                </td>
                                <td>
                                    <input type="button" name="name" value="Delete" class="btn btn-danger btn-sm" onclick=")" />
                                </td>
                                <td>43</td>
                                <td>Red</td>
                                <td>3</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>