<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    <!-- Favicon-->
    <link rel="shortcut icon" href="~/Assets/Front/image/icon/favicon.png" type="image/x-icon">
    <!-- Web Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Ubuntu:300,300i,400,400i,500,500i,700,700i&amp;amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
    <!-- Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Front/Css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href="~/Assets/Front/Css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Front/Css/animated.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Front/Css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Front/Css/jquery.mmenu.all.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Front/Css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Front/Css/noJS.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Front/Css/prettyPhoto.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Front/Css/slick.min.css">
    <link href="~/Assets/Front/Css/bootstrap-social.css"type="text/css" rel="stylesheet" />
    <!-- Template CSS-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Front/Css/main.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Front/Css/home.css">
</head>
<body class="product-page shop-checkout">
    <div id="preloaderKDZ"></div>
    <div class="sn-site">
        <div>
            @RenderBody()
        </div>
    </div>
        <script type="text/javascript" src="~/Assets/Front/Js/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="~/Assets/Front/Js/bootstrap.min.js"></script>
        <script type="text/javascript" src="~/Assets/Front/Js/wow.min.js"></script>
        <script type="text/javascript" src="~/Assets/Front/Js/owl.carousel.min.js"></script>
        <script type="text/javascript" src="~/Assets/Front/Js/jquery.mmenu.all.min.js"></script>
        <script type="text/javascript" src="~/Assets/Front/Js/jquery.countdown.min.js"></script>
        <script type="text/javascript" src="~/Assets/Front/Js/jquery.appear.min.js"></script>
        <script type="text/javascript" src="~/Assets/Front/Js/jquery.countTo.min.js"></script>

        <script type="text/javascript" src="~/Assets/Front/Js/jquery.hoverdir.js"></script>
        <script type="text/javascript" src="~/Assets/Front/Js/modernizr.custom.97074.js"></script>
        <script type="text/javascript" src="~/Assets/Front/Js/isotope.pkgd.min.js"></script>
        <script type="text/javascript" src="~/Assets/Front/Js/fit-columns.js"></script>
        <script type="text/javascript" src="~/Assets/Front/Js/isotope-docs.min.js"></script>
        <script type="text/javascript" src="~/Assets/Front/Js/mansory.js"></script>
        <script type="text/javascript" src="~/Assets/Front/Js/jquery.prettyPhoto.js"></script>
        <script type="text/javascript" src="~/Assets/Front/Js/slick.min.js"></script>
        <script type="text/javascript" src="~/Assets/Front/Js/main.min.js"></script>
</body>
</html>
