@*@using ProjectSepatu.Models.OperationalViewModel


@model TabMetodePembayaranModel*@

@*<div style="display: none;" class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>*@

<div class="modal-content" style="margin: 50px 50px 50px 50px; background-color:#f2f2f2">
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                </div>
                <div class="col-md-1">
                    <button type="button" class="close-modal btn btn-default btn-circle btn-lg" data-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <!-- Project Details Go Here -->
                    <h2>
                        
                    </h2>
                    @*<p class="item-intro text-muted">
                            Project Subheading Comes Here.
                        </p>*@
                    <div class="col-lg-6">
                        <div class="well well-lg" style="background-color:white">
                            <div class="row">
                                <div class="col-lg-2">

                                </div>
                                <div class="col-lg-8">
                                    <div class="carousel-inner">
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div id="specs-list">
                            <style type="text/css">
                                .tr-toggle {
                                    display: none;
                                }
                            </style>
                            <div class="well well-lg" style="background-color:white">
                                <div class="row">
                                    <div class="col-md-6 text-right">
                                        <h3>Harga Jual : </h3>
                                        <h3>Harga Beli : </h3>
                                    </div>
                                    <div class="col-md-6">
                                        <h3><b style="color:#337ab7">)</b></h3>
                                        <h3><b style="color:#337ab7">)</b></h3>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form role="form">
                                            <div class="form-group">
                                                <label>Description</label>
                                            </div>
                                            <div class="form-group">
                                                
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col-lg-6">
                            <p>
                                Use this area to describe your project. The most remarkable feature of time is its
                                preciousness. Its value is unfathomable and its power is inestimable.The most remarkable
                                feature of time is its preciousness. Its value is unfathomable and its power is
                                inestimable.
                            </p>
                            <p>
                                <strong>Want these icons in this portfolio item sample?</strong>You can download
                                60 of them for free, courtesy of <a href="http://aspxtemplates.com/html-templates.aspx">
                                    RoundIcons.com
                                </a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">
                                    here
                                </a>.
                            </p>
                            <ul class="list-inline">
                                <li>Date: July 2014</li>
                                <li>Client: Round Icons</li>
                                <li>Category: Graphic Design</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">
                                Close Project
                            </button>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
